name: Update Tutorial

on:
  push:
    branches: [ master ]
    paths:
      - '**.mlx'

jobs:
  copy-changes:
    runs-on: self-hosted
    steps:
      - name: Checkout Source Repo
        uses: actions/checkout@v2
        with:
          repository: '${{ github.repository_owner }}/COBRA.tutorials'
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Get the repository's owner name
        run: |
          echo "REPO_OWNER=${{ github.repository_owner }}" >> $GITHUB_ENV

      - name: Clone the destination repository
        run: |
          rm -rf cobratoolbox
          echo "Cloning the destination repository: git@github.com:opencobra/cobratoolbox.git"
          git clone --depth 1 --branch gh-pages https://x-access-token:${{ secrets.DEST_REPO_TOKEN }}@github.com/opencobra/cobratoolbox.git

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install beautifulsoup4

      - name: Get Changed mlx Files Since Last Sync Commit
        id: getFile
        run: |
          echo "Looking for last sync commit..."
          echo "Finding changed .mlx files since last commit"
          changed_files=$(git diff --name-only HEAD~1 HEAD | grep '\.mlx' | tr '\n' ' ')

          if [[ -z "$changed_files" ]]; then
            echo "No .mlx files changed since last sync. Exiting."
            exit 0
          fi

          echo "Found changed files: $changed_files"

          for file in $changed_files; do
            if [[ $file != "" ]]; then
              echo "Processing: $file"
              ABSOLUTE_FILE_PATH=$(realpath "$file")

              # HTML will be written directly to cobratoolbox, NOT COBRA.tutorials
              HTML_FILE_NAME=$(basename "$file" .mlx).html
              HTML_FILE_PATH=$(realpath "cobratoolbox/stable/tutorials/$(dirname "$file")/$HTML_FILE_NAME")
              mkdir -p "$(dirname "$HTML_FILE_PATH")"

              PDF_FILE_PATH=$(echo "$ABSOLUTE_FILE_PATH" | sed 's/.mlx/.pdf/g')
              M_FILE_PATH=$(echo "$ABSOLUTE_FILE_PATH" | sed 's/.mlx/.m/g')

              # xvfb allows running functions that require GUI
              xvfb-run /usr/local/MATLAB/R2024a/bin/matlab -batch "export('$ABSOLUTE_FILE_PATH', '$HTML_FILE_PATH', 'Format', 'html')"
              sleep 5
              xvfb-run /usr/local/MATLAB/R2024a/bin/matlab -batch "export('$ABSOLUTE_FILE_PATH', '$PDF_FILE_PATH', 'Format', 'pdf')"
              sleep 5
              xvfb-run /usr/local/MATLAB/R2024a/bin/matlab -batch "export('$ABSOLUTE_FILE_PATH', '$M_FILE_PATH', 'Format', 'm')"

              echo "Updating cobratoolbox index..."

              HTML_RELATIVE_PATH="stable/tutorials/$(dirname "$file")/$HTML_FILE_NAME"
              python stable/extract_info.py "$HTML_RELATIVE_PATH"
            fi
          done

      - name: Pushing the changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          cd cobratoolbox
          git add .
          git commit -m "Sync files from source repo" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.DEST_REPO_TOKEN }}@github.com/opencobra/cobratoolbox.git gh-pages
          cd ..

          rm -rf cobratoolbox
          git add .
          git commit -m "created .pdf, .mlx and .m files" || echo "No changes to commit"
          git push origin master

          cd ..

          echo "Script execution completed."
